<div *ngIf="category$ | async as category; else loader" class="container">
  <div class="category mt-40 flex flex-col">
    <div class="flex-center">
      <h2 class="mr-16"><a [routerLink]="['/category', category._id]">{{ category.name }}</a></h2>
      <div *ngIf="user?._id else pleaseAuthorization">
        <button 
          *ngIf="!hasSubscription(category._id) else hasSubscriptionToThisCatgory"
          (click)="subscibeToThisCategory(category)"
          nz-button nzType="primary"
        >
          Subscribe
        </button>
  
        <ng-template #hasSubscriptionToThisCatgory>
          <div class="subscribed">You have already subscribed :)</div>
        </ng-template>
      </div>
    </div>
    <div *ngIf="category.news.length else noNews" class="news-wrap mt-20">
      <div *ngFor="let news of category.news; let i = index" class="news">
        <app-news-item (click)="navigateToNews(news._id)" [news]="news" [routerLink]="['news', news._id]"></app-news-item>
      </div>
    </div>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #noNews>
  <h3 class="text-center flex-center mt-20">This category doesn't have news :(</h3>
</ng-template>

<ng-template #pleaseAuthorization>
  <h3 class="text-center flex-center mt-20">Please log in to :)</h3>
</ng-template>