h1 {
  font-size: 100px;
  color: #fff;
  margin: 0;
  text-align: center;
}

div {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.wrap {
  background-color: rgb(50, 89, 133);
  height: 100%;
}

.container {
  height: 100%;
}