<div *ngIf="!isShowLoader else loader">
  <form [formGroup]="form" (submit)="onSubmit()" class="container mt-20">
    <input 
      formControlName="title" 
      type="text" 
      nz-input 
      placeholder="News title"
      [nzStatus]="(form.get('title')?.invalid && !form.get('title')?.untouched) ? 'error' : ''"
    />
    <div class="text mb-8 mt-20">Change your category</div>
    <nz-radio-group 
      *ngIf="categoriesName$ | async as categoriesName; else loader" 
      formControlName="category" 
      nzButtonStyle="solid"
    >
      <label *ngFor="let categoryName of categoriesName" nz-radio-button [nzValue]="categoryName._id">{{categoryName.name}}</label>
    </nz-radio-group>
    <p *ngIf="isError && !form.get('category')?.value" class="error">You must change the category for this news</p>
    <div formArrayName="list">
      <ng-container *ngFor="let list of listControls.controls; let i = index">
        <div class="control-wrap mt-20">
          <textarea [nzStatus]="(list.invalid && !list.untouched) ? 'error' : ''" [formControlName]="i" nz-input placeholder="Write your text..."></textarea>
          <button 
            (click)="deleteList(i)"
            *ngIf="i"
          >
            <span nz-icon nzType="close-circle" nzTheme="outline"></span>
          </button>
        </div>
      </ng-container>
      <button 
        class="btn mt-20" 
        (click)="addList()"
        nz-button nzType="primary" 
        type="button"
      >Add more text</button>
    </div>
    <div class="buttons-wrap mt-20">
      <nz-radio-group formControlName="how-pass-image">
        <label nz-radio nzValue="link">Link</label>
        <label nz-radio nzValue="download">Download from your device</label>
      </nz-radio-group>
      <input type="file" style="display: none;" (change)="uploadFile($event)" #input>
      <div class="upload-wrap flex items-center">
        <button 
          (click)="triggerClick()" 
          *ngIf="form.get('how-pass-image')?.value === 'download'"
          class="mr-16 btn-upload" nz-button 
          [disabled]="form.disabled" 
          type="button"
        >
          <span nz-icon nzType="video-camera" nzTheme="outline"></span>
          Загрузить изображение
        </button>

        <div *ngIf="form.get('how-pass-image')?.value === 'link'" class="mr-16">
          <nz-input-group [nzSuffix]="suffixIconSearch" class="minw-200">
            <input (input)="addImageLink($event)" type="text" nz-input placeholder="Insert your link" />
          </nz-input-group>
          <ng-template #suffixIconSearch>
            <span nz-icon nzType="link" nzTheme="outline"></span>
          </ng-template>
        </div>

        <div class="image">
          <nz-avatar 
            *ngIf="!imagePreview" 
            [nzSize]="100" 
            nzIcon="video-camera"
          ></nz-avatar>
          <img *ngIf="imagePreview" [src]="imagePreview" [alt]="imagePreview">
        </div>
      </div>
      <div class="btn-wrap"><button class="btn mt-20 m-auto mb-20" nz-button nzType="primary" type="submit">CREATE</button></div>
    </div>
  </form>
</div> 

<ng-template #loader>
  <app-loader class="mt-20"></app-loader>
</ng-template>