.category {
  & h2 {
    margin-bottom: 0;
  }
}

.news-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  & .news {
    flex: 0 1 30%;
  }
}

.image {
  max-width: 100px;
  max-height: 100px;
}